.browser{
    width: 500px;
    height: 350px;
    border: 3px solid #ddd;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px;
    opacity: 1;

    .preview{
        height: 310px;
        background-size: cover;
        transition: all 10s;
    }

    .preview:hover{
        background-position: bottom;
    }

    .header{
        display: flex;
        height: 30px;
        align-items: center;
        padding: 0 25px;
        background-color: #eee;
        border-bottom: 2px solid #ddd;

        span{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgb(206, 17, 17);
            position: relative;
        }
        span::before{
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgb(19, 155, 19);
            position: absolute;
            left: -14px;
        }
        span::after{
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgb(193, 204, 39);
            position: absolute;
            right: -14px;
        }
    }
}