@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital@1&family=Roboto+Condensed:ital,wght@0,400;1,700&family=Roboto:ital,wght@1,500&display=swap");
* {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 130px;
}
.header-container .ecommerce-title-top ul {
  display: flex;
  align-items: end;
  justify-content: end;
}
.header-container .ecommerce-title-top ul li {
  margin-right: 30px;
}
.header-container .ecommerce-title-top ul li a {
  font-size: 12px;
  color: rgb(150, 150, 150);
}
.header-container .ecommerce-title-top ul li a:hover {
  color: rgb(100, 100, 100);
}
.header-container .ecommerce-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  height: 100px;
}
.header-container .ecommerce-title .page-title {
  margin-top: 15px;
  margin-left: 20px;
}
.header-container .ecommerce-title .page-title a {
  color: rgb(40, 40, 40);
  font-size: 35px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header-container .ecommerce-title .page-title a img {
  width: 100px;
  height: 70px;
}
.header-container .ecommerce-title .searchbox {
  display: flex;
  width: 700px;
  margin-top: 30px;
  margin-left: 20px;
}
.header-container .ecommerce-title .searchbox input {
  position: relative;
  text-indent: 15px;
  margin-left: 60px;
  width: 600px;
  height: 45px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(240, 240, 240);
}
.header-container .ecommerce-title .searchbox i {
  color: orangered;
  position: absolute;
  margin-top: 12px;
  margin-left: 625px;
  margin-bottom: 30px;
  cursor: pointer;
}
.header-container .ecommerce-title .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .ecommerce-title .user-info a {
  margin-left: 60px;
  margin-top: 10px;
  font-size: 13px;
  color: rgb(50, 50, 50);
}
.header-container .ecommerce-title .user-info a:hover {
  transition: 300ms all;
  color: orangered;
}
.header-container .ecommerce-title .user-info a i {
  padding: 4px;
  font-size: 18px;
}
.header-container #title-scroll.active {
  position: fixed;
  animation: all 5s ease-in-out;
}

.nav-products {
  display: flex;
}
.nav-products .products {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
}
.nav-products .products ul {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-products .products ul li a {
  color: rgb(60, 60, 60);
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 0.2px;
}
.nav-products .products ul li a:hover {
  color: orangered;
  transition: 200ms all;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  text-decoration-color: orangered;
}

.start-slider-content {
  height: 120px;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  gap: 50px;
  transition: all 500ms ease-in-out;
}
.start-slider-content .slide .inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.start-slider-content .slide .inner-content a img {
  width: 60px;
  height: 60px;
  transition: scale 0.5s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.start-slider-content .slide .inner-content a img:hover {
  border: 1px solid orangered;
  border-radius: 50%;
  transform: scale(1.05);
}
.start-slider-content .slide .inner-content span {
  text-align: center;
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
.start-slider-content .slide .inner-content span:hover {
  transition: 300ms all;
  color: orangered;
  cursor: pointer;
}

.indicators {
  position: relative;
}
.indicators button {
  position: absolute;
  background: none;
  border: none;
}
.indicators .prev {
  margin-left: 10px;
  top: -75px;
  opacity: 0.5;
  cursor: pointer;
}
.indicators .prev:hover {
  transition: all 1s;
  color: black;
  opacity: 1;
}
.indicators .next {
  top: -75px;
  left: 1320px;
  opacity: 0.5;
  cursor: pointer;
}
.indicators .next:hover {
  transition: all 1s;
  color: black;
  opacity: 1;
}

.different-products {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.different-products .add-basket {
  display: flex;
  width: 350px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: #EFFBF5;
  margin-left: 60px;
  margin-right: 50px;
}
.different-products .add-basket a {
  font-weight: 700;
  color: #168451;
  margin-top: 20px;
  margin-left: 40px;
}
.different-products .famous-products {
  display: flex;
  width: 400px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: #FEF4EC;
  margin-right: 50px;
}
.different-products .famous-products a {
  font-weight: 700;
  color: #B85106;
  margin-top: 20px;
  margin-left: 80px;
}
.different-products .flash-products {
  display: flex;
  width: 400px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: #FEF0F2;
  margin-right: 50px;
}
.different-products .flash-products a {
  font-weight: 700;
  color: #C80849;
  margin-top: 20px;
  margin-left: 130px;
}

.start-mega-september {
  display: grid;
  margin-top: 50px;
  margin-left: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.start-mega-september div a {
  position: relative;
}
.start-mega-september div a img {
  width: 380px;
  height: 190px;
  border-radius: 10px;
}
.start-mega-september div a span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  text-indent: 10px;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.start-mega-september div a span:hover {
  transition: background-color 300ms;
  background-color: #F68428;
}

.middle1-slider-content {
  margin-top: 20px;
  margin-left: 50px;
  width: 93%;
  background-color: #FFFAF6;
  border-radius: 7px;
  height: 400px;
}
.middle1-slider-content .content-header {
  display: flex;
  height: 50px;
}
.middle1-slider-content .content-header span {
  margin-top: 12px;
  margin-left: 20px;
  font-size: 22px;
  color: #333;
  background: transparent;
  border: 0;
  font-weight: 600;
}
.middle1-slider-content .middle-slider-content {
  display: flex;
  overflow: hidden;
  width: auto;
  margin-left: 20px;
  height: 350px;
}
.middle1-slider-content .middle-slider-content .slider-products {
  width: 250px;
  height: 330px;
  margin: 1px 15px 1px 1px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: box-shadow 0.2s linear;
  position: relative;
  cursor: pointer;
}
.middle1-slider-content .middle-slider-content .slider-products a {
  width: 250px;
  height: 330px;
  align-items: center;
  justify-content: center;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 330px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container img {
  width: 200px;
  height: 250px;
  margin: 15px auto 5px 20px;
  border: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: transform 0.5s ease;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: auto;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top {
  height: auto;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .truck-stamp {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 10px;
  width: 70px;
  height: 25px;
  background-color: #535353;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .truck-stamp .inner {
  display: flex;
  align-items: center;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .truck-stamp .inner i {
  color: #fff;
  font-size: 15px;
  margin: 2px;
  text-indent: 5px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .truck-stamp .inner span {
  margin-left: 3px;
  color: #fff;
  font-size: 9.4px;
  line-height: 10px;
  text-align: initial;
  width: 48px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .box-stamp {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 10px;
  width: 70px;
  height: 25px;
  background-color: #3ec461;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .box-stamp .inner {
  display: flex;
  align-items: center;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .box-stamp .inner i {
  color: #fff;
  font-size: 15px;
  margin: 2px;
  text-indent: 5px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-top .box-stamp .inner span {
  margin-left: 3px;
  color: #fff;
  font-size: 9px;
  line-height: 10px;
  text-align: initial;
  width: 48px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-middle {
  position: relative;
  height: 100%;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-middle .most-sale-stamp {
  position: absolute;
  top: -5px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-middle .most-sale-stamp img {
  margin-left: 5px;
  width: 60px;
  height: 60px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-middle .earthquake-range-stamp {
  position: absolute;
  top: 120px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .stamp .stamp-middle .earthquake-range-stamp img {
  margin-left: 10px;
  width: 75px;
  height: 75px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 135px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .description .brand-product {
  height: 35px;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .description .brand-product .brand {
  margin-right: 4px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}
.middle1-slider-content .middle-slider-content .slider-products a .image-container .description .brand-product .name {
  white-space: normal;
  overflow: hidden;
  color: #666;
  font-size: 15px;
}

.middle-mega-september {
  display: grid;
  margin-top: 50px;
  margin-left: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.middle-mega-september div a {
  position: relative;
}
.middle-mega-september div a img {
  width: 380px;
  height: 190px;
  border-radius: 10px;
}
.middle-mega-september div a span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  text-indent: 10px;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.middle-mega-september div a span:hover {
  transition: background-color 300ms;
  background-color: #F68428;
}

.ecommerce-sub-content {
  margin: 50px 50px 30px 50px;
  width: 1200px;
  padding-top: 30px;
  line-height: 1.7;
  border-top: 1px solid #d4d4d4;
  color: #333;
  background-color: #fff;
}
.ecommerce-sub-content .sub-section1 .sub-content-title1 {
  width: 100%;
}
.ecommerce-sub-content .sub-section1 .sub-content-title1 h2 {
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.ecommerce-sub-content .sub-section1 .sub-content p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: justify;
}
.ecommerce-sub-content .sub-section2 .sub-content-title2 {
  width: 100%;
}
.ecommerce-sub-content .sub-section2 .sub-content-title2 h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
.ecommerce-sub-content .sub-section2 .sub-content p {
  margin-bottom: 5px;
  text-align: justify;
  font-size: 13px;
  font-weight: 500;
}
.ecommerce-sub-content .sub-section3 .sub-content-title2 {
  width: 100%;
}
.ecommerce-sub-content .sub-section3 .sub-content-title2 h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
.ecommerce-sub-content .sub-section3 .sub-content p {
  margin-bottom: 5px;
  text-align: justify;
  font-size: 13px;
  font-weight: 500;
}
.ecommerce-sub-content .sub-section4 .sub-content-title2 {
  width: 100%;
}
.ecommerce-sub-content .sub-section4 .sub-content-title2 h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
.ecommerce-sub-content .sub-section4 .sub-content p {
  margin-bottom: 5px;
  text-align: justify;
  font-size: 13px;
  font-weight: 500;
}
.ecommerce-sub-content .sub-section5 .sub-content-title2 {
  width: 100%;
}
.ecommerce-sub-content .sub-section5 .sub-content-title2 h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
.ecommerce-sub-content .sub-section5 .sub-content p {
  margin-bottom: 5px;
  text-align: justify;
  font-size: 13px;
  font-weight: 500;
}
.ecommerce-sub-content .sub-section6 .sub-content-title2 {
  width: 100%;
}
.ecommerce-sub-content .sub-section6 .sub-content-title2 h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}
.ecommerce-sub-content .sub-section6 .sub-content p {
  font-size: 13px;
  color: rgb(27, 27, 27);
  text-align: justify;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}
.ecommerce-sub-content .sub-section6 .sub-content p a {
  color: #1b1b1b;
  text-align: justify;
  font-size: 13px;
}

.footer-top {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #d4d4d4;
  color: #333;
  padding: 30px 0;
}
.footer-top .popular-brand-category-container {
  display: flex;
  justify-content: space-between;
}
.footer-top .popular-brand-category-container .popular-brand-shops {
  width: 45%;
  margin-left: 50px;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-title {
  display: flex;
  justify-content: space-between;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-title p {
  font-size: 22px;
  margin: 10px 0 20px;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-content li {
  flex: 26%;
  margin: 3px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -1px;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-content li a {
  font-weight: 500;
  color: #1b1b1b;
  font-size: 13px;
}
.footer-top .popular-brand-category-container .popular-brand-shops .brand-shops-content li a:hover {
  text-decoration: underline;
}
.footer-top .popular-brand-category-container .popular-pages {
  width: 45%;
}
.footer-top .popular-brand-category-container .popular-pages .pages-title {
  display: flex;
  justify-content: space-between;
}
.footer-top .popular-brand-category-container .popular-pages .pages-title p {
  font-size: 22px;
  margin: 10px 0 20px;
}
.footer-top .popular-brand-category-container .popular-pages .pages-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top .popular-brand-category-container .popular-pages .pages-content li {
  flex: 26%;
  margin: 3px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -1px;
}
.footer-top .popular-brand-category-container .popular-pages .pages-content li a {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 13px;
}
.footer-top .popular-brand-category-container .popular-pages .pages-content li a:hover {
  text-decoration: underline;
}

.footer-middle-bottom .footer-middle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 475px;
  background-color: #000;
  color: #fff;
}
.footer-middle-bottom .footer-middle .footer-info {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  padding-top: 50px;
  padding-bottom: 55px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .trendyol-info a {
  color: white;
  font-size: 13px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .trendyol-info a h4 {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .trendyol-info ul li {
  margin: 17px 0 0 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .trendyol-info ul li a {
  font-size: 13px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards {
  margin-bottom: 200px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li p {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .troy-img {
  display: inline-block;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .troy-img img {
  width: 55px;
  height: 25px;
  margin-right: 13px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .master-card-img {
  display: inline-block;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .master-card-img img {
  width: 60px;
  height: 35px;
  position: relative;
  top: 6px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .visa-img {
  display: inline-block;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .visa-img img {
  width: 75px;
  height: 55px;
  position: relative;
  top: 15px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .amex-img {
  display: inline-block;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .companies-cards ul li .amex-img img {
  width: 50px;
  height: 40px;
  position: relative;
  top: 5px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .about-us ul a h4 {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 0 17px 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .about-us ul li {
  margin: 17px 0 0 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .about-us ul li a {
  font-size: 13px;
  color: #fff;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores {
  margin-bottom: 135px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores ul li {
  margin: 17px 0 0 0;
  color: #fff;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores ul li p {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 7px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores ul li .mobile-apps {
  height: 100px;
  display: flex;
  flex-direction: column;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores ul li .mobile-apps a img {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .download-stores ul li .mobile-apps .google-play-store img {
  position: relative;
  right: 10px;
  width: 170px;
  height: 60px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .campaigns a h4 {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 0 17px 0;
  font-weight: 400;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .campaigns ul li {
  margin: 20px 0 0 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .campaigns ul li a {
  font-size: 13px;
  color: #fff;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags {
  margin-bottom: 140px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li {
  position: relative;
  top: 10px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .social-media {
  font-size: 16px;
  font-weight: 600;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags {
  height: 100px;
  margin-top: 20px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags a {
  width: 50px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags a i {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags .facebook-logo:hover {
  background-color: #3658A1;
  border-color: #3658A1;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags .instagram-logo:hover {
  background-color: #BA2255;
  border-color: #BA2255;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags .twitter-logo:hover {
  background-color: #508AD4;
  border-color: #508AD4;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .social-media-tags ul li .media-tags .youtube-logo:hover {
  background-color: #E22231;
  border-color: #E22231;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .help a h4 {
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 0 17px 0;
  font-weight: 400;
  color: white;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .help ul li {
  margin: 0 0 20px 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .help ul li a {
  font-size: 13px;
  color: white;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy {
  margin-bottom: 130px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li {
  margin: 7px 0 0 0;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .change-country {
  position: relative;
  bottom: 16px;
  width: 110px;
  height: 25px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: 1px solid white;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .security-stamps {
  display: flex;
  align-items: center;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .security-stamps .etbis .etbis-logo {
  width: 125px;
  height: 100px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .security-stamps .etbis .etbis-logo img {
  width: 83px;
  height: 93px;
  margin-right: 30px;
  padding: 5px;
  background-color: #fff;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .security-stamps .tr-go .tr-go-logo {
  width: 60px;
  height: 60px;
}
.footer-middle-bottom .footer-middle .footer-info .footer-sub-info1 .security-policy ul li .security-stamps .tr-go .tr-go-logo img {
  border-radius: 5px;
  display: flex;
  width: 50px;
  height: 50px;
}
.footer-middle-bottom .footer-bottom {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #2d2d2d;
}
.footer-middle-bottom .footer-bottom .footer-sub-info2 {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-middle-bottom .footer-bottom .footer-sub-info2 .footer-sub-info-left {
  font-size: 12px;
  color: white;
  font-weight: bold;
}
.footer-middle-bottom .footer-bottom .footer-sub-info2 .footer-sub-info-right ul li {
  padding: 0 10px;
  float: left;
  color: #999999;
}
.footer-middle-bottom .footer-bottom .footer-sub-info2 .footer-sub-info-right ul li a {
  color: white;
  font-size: 12px;
}

.scroll-to-up .up-button {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 18px;
  border-bottom-width: 2px;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  width: 110px;
  height: 40px;
  line-height: 42px;
  margin: 5px;
  right: 20px;
  will-change: scroll-position;
  backface-visibility: hidden;
}
.scroll-to-up .up-button i {
  float: left;
  height: 20px;
  width: 20px;
  overflow: hidden;
  opacity: 0.5;
  margin: 10px 0 0 7px;
}
.scroll-to-up .up-button span {
  color: #666666;
  font-size: 13px;
  float: left;
  font-weight: 600;
  margin-left: 7px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */